#battery {
    // color: red;
    // background-color: red;
}

#charging {
    // color: white;
}


#battery-level-bar {
    trough {
        border: none;
        background-color: transparent;
        // padding: 10px 10px 8px;
        // padding: 8px 6px 6px;
        padding: 7px 6px 5px;
        
        block {
            border: none;
            border-radius: 1px;
            &.empty {
                background-color: transparent;
            }
            &.filled {
                background-color: green;
            }
        }
        
    }
}